body{
display: flex;
flex-direction: column;
padding: 10px;
align-items: center;
background-image: url('grinch.png') ;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
color: #d1d1d1;
}

 h1  {
text-align: center;
}
span{
 display: inline-block;
 background-color:#fff0f0 ;
 color: rgb(192, 32, 32);
 font-weight: bold;
 padding: 5px;
 border-radius: 10px;
 margin: ;

}
.task{
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px;
  background-color: rgba(8, 89, 29, 0.557);

}
select{
  border-radius:15px ;
  padding: 10px;
  background-color: #d1d1d1;
}

button{
  background-color: #ff0000 ;
  border-radius: 15px;
  font-weight: bold;
}

.taskFilter{
  display: inline-block;
color: rgb(15, 221, 0);
font-weight: bold;
background-color: rgba(5, 0, 0, 0.407);
padding: 20px;
}
.taskFilter select{
  color: cornsilk;
}

div{
  border: black;
}